.cart-logo {
    width: 30px; /* Ajusta el tamaño del logo según tus necesidades */
    height: 30px;
    margin-right: 10px; /* Opcional: Agrega un margen a la derecha del logo para separarlo del texto */
    
  }